{% if section.settings.collection_list.size <= 0 %}

  <div id="featured" class="featured">
    <div class="container">
      <div class="featured__title">Featured Products</div>
      <div class="featured__cards">
        {% if cart.items.size > 0 %}
          {% for product in section.settings.collection_list %}
            {% for cartProduct in cart.items %}
              {% if cartProduct.product_id != product.id %}
                {% render 'product-card'
                  , product: product %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% else %}
          {% for product in section.settings.collection_list %}
            {% if cartProduct.product_id != product.id %}
              {% render 'product-card'
                , product: product %}
            {% endif %}
          {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>

{% endif %}

{% schema %}
  {
    "name": "Featured Products",
    "settings": [
      {
        "type": "collection_list",
        "id": "collection_list",
        "label": "Collections",
        "limit": 1
      }
    ]
  }
{% endschema %}