<div id="featured" class="featured">
  <div class="container">
    <div class="featured__title">Featured Products</div>
    <div class="featured__cards">
      <div class="featured__card">
        <div class="featured__card-img"><img src="https://planimetria.com.ua/img/catalogue/bb/11/bb-1350a50cd0d86.jpg" alt="Product Image"></div>
        <div class="featured__card-title">Eirini vase set</div>
        <div class="featured__card-btn">Add to cart</div>
      </div>
      <div class="featured__card">
        <div class="featured__card-img"><img src="https://master-keramika.com.ua/wp-content/uploads/2017/04/20201107_091339.jpg" alt="Product Image"></div>
        <div class="featured__card-title">Eirini vase set</div>
        <div class="featured__card-btn">Add to cart</div>
      </div>
      <div class="featured__card">
        <div class="featured__card-img"><img src="https://i.pinimg.com/236x/f6/16/d0/f616d044c7937dde2e8ec2b4f3e6f79c.jpg" alt="Product Image"></div>
        <div class="featured__card-title">Eirini vase set</div>
        <div class="featured__card-btn">Add to cart</div>
      </div>
      <div class="featured__card">
        <div class="featured__card-img"><img src="https://master-keramika.com.ua/wp-content/uploads/2017/04/20201107_091339.jpg" alt="Product Image"></div>
        <div class="featured__card-title">Eirini vase set</div>
        <div class="featured__card-btn">Add to cart</div>
      </div>

    </div>
  </div>
</div>